@media (max-width: 600px) {
  .btn2{
    padding: 6px 10px 6px 10px!important;
    margin-right: 24px!important;

  }
  .heading-container{
    width: 300px!important;
    font-size: 20px!important;
  }
  .main-container{
    width: 300px!important;
  }
  .detail-container{
    flex-direction: column!important;
  }
  .text1-container{
    margin-right: 0px!important;
  }
  .stake{
    margin-left: 0px!important;
  }
  .heading2{
    font-size: 20px!important;
  }
  .total-amount{
    font-size: 22px!important;
  }
}
.stake:hover{
  background-color: #333333;
  cursor: pointer;
}
.detail-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
  
}

.text1-container{
  margin-right: 50px;
}
.text2-container{
  background-color: #292827;
  border-radius: 8px;
  padding: 8px;
}

.heading-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  width: 600px;
  font-size: 32px;
  color: white;
}
.text {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.bold-text {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  background: linear-gradient(93.09deg, #f79c24 -5.2%, #8e4bdc 96.15%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-container {
  display: flex;
  justify-content: center;
}
.main-container {
  width: 60%;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 94px 7px #00000073;
  border-radius: 24px;
  margin-bottom: 8px;
}
.button-container {
  border-radius: 12px 12px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background-color: #0e0d0d;
  ;
  padding-top: 10px;
  padding-bottom: 10px;
}
.t1 {
  margin: 0;
  margin-top: 21px;
  margin-bottom: 22px;
  color: white;
  font-size: 12px;
}
.total-amount {
  font-weight: 400;
  font-size: 22px!important;
  text-align: center;
}
.heading2 {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}
.text2 {
  text-align: center;
}
.withdraw-container{
  width:80%;
}
.btn {
  font-family: "Space Grotesk", sans-serif;
  width:40%;
  color:white;
  background-color: #0e0d0d;
}
.btn-withdraw {
  background-color: #0e0d0d;
}
.active{
  width: 40%;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #1e1e1e;
  border: none;
  color: white;
  border-radius: 10px;
  font-family: "Space Grotesk", sans-serif;
}
.btn2-container{
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 22px;
}
.btn2 {
  margin-right: 48px;
  background-color:#1E1E1E80;
  padding: 18px 48px 18px 48px;
  border-radius: 12px;
  border: 1px;
  color:white;
  font-style: 'Inter';
  border: 1px solid #f79c24;
}
.stake {
  margin-left: 42px;
  background-color:#1E1E1E80;
  padding: 12px 28px 12px 28px;
  border-radius: 12px;
  border: 1px;
  color:white;
  font-style: 'Inter';
  border: 1px solid #f79c24;
}
.btn-how{
    font-family: 'Inter';
    border-color:  #FFFFFFB2;
}
.btn-connect{
    font-family: 'Inter';
}
