@media (max-width: 600px) {
    
    .social-icons{
        display: none !important;
    }
    .Logo{
        width: 100px;
    }
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 12px;
    padding-bottom: 12px;

}
